<html>
    <head>
        <link href='/assets/style.css' type='text/css' rel='stylesheet'>
        </link>
    </head>
    <body>
        <h1>Thank you <%= name%>!</h1>
        <h2>We received:</h2>
        <h3>Name: <%= name%></h3>
        <h3>Last Name: <%= email%></h3>
        <h3>Message: <%= msg%></h3>
        <h3>Country: <%= ctry%></h3>
    </body>
</html>